{% extends "base.html" %}
{% block content %}
{% if info %}
	<h2 class="info">{{info}}</h2><br>
{% else %}
	<h2 class="info">Click a wave to toggle visibility (and joinability)</h2><br>
{% endif %}
{% if error %}
	<h2 class="error">{{error}}</h2><br>
{% endif %}
{% if wavelets %}
{% for wavelet in wavelets %}
<div class="wavelet">
    <a href="/panel/admin/{{wavelet.short_url}}">
    <span id="title">{{wavelet.title}}</span><br>
    <span id="admin">Visible: {{wavelet.visible}}</span>
    </a>
</div>
{% endfor %}
{% else %}
No waves to admin. add a bot to one already
{% endif %}
{% endblock %}

