<head>
	<link rel="stylesheet" href="/assets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<h1>SA Auto Adder</h1>
<div id="login-form">
  <b class="spiffy">
  <b class="spiffy1"><b></b></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy3"></b>
  <b class="spiffy4"></b>
  <b class="spiffy5"></b></b>
  <div class="spiffyfg">
	{% if cookie %}
		<span class="error">Cookie!</span>
	{% endif %}
    <form action="/" method="post" accept-charset="utf-8">
		<label for="username">user</label> <input class="right" type="text" name="username" value="" id="username"></br>
		<label for="password">pass</label> <input class="right"type="password" name="password" value="" id="password"></br>
		<input class="right" type="checkbox" value="remember" name="remember"><label for="remember">remember me</label></br>
		<input type="submit" value="Login &rarr;"></br>
		{% if login_failed %}
			<span class="error">Login incorrect</span>
		{% endif %}
	</form>
	<a href="/create">Create an account</a>
  </div>
  <b class="spiffy">
  <b class="spiffy5"></b>
  <b class="spiffy4"></b>
  <b class="spiffy3"></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy1"><b></b></b></b>
</div>