<head>
	<link rel="stylesheet" href="/assets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<br>
<div class="main_div">
  <b class="spiffy">
  <b class="spiffy1"><b></b></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy3"></b>
  <b class="spiffy4"></b>
  <b class="spiffy5"></b></b>
  <div class="spiffyfg">
	<div id="navcontainer">
	<ul id="navlist">
	<li id="active"><a href="/" id="current">Login</a></li>
	<li><a href="/create">Create Account</a></li>
	</ul>
	</div>
	<br>
    <form action="/login" method="post" accept-charset="utf-8">
        {% if login_failed %}
			<h2 class="error">{{login_failed}}</h2><br>
		{% endif %}
		<label for="username">user</label> <input class="right" type="text" name="username" value="" id="username"></br>
		<label for="password">pass</label> <input class="right"type="password" name="password" value="" id="password"></br>
		<input class="right" type="checkbox" value="remember" name="remember"><label for="remember">remember me</label></br>
		<input type="submit" value="Login &rarr;"></br>
	</form>
	<a href="/create">Create an account</a>
  </div>
  <b class="spiffy">
  <b class="spiffy5"></b>
  <b class="spiffy4"></b>
  <b class="spiffy3"></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy1"><b></b></b></b>
</div>