<head>
	<link rel="stylesheet" href="/assets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<br>
<div class="main_div">
  <b class="spiffy">
  <b class="spiffy1"><b></b></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy3"></b>
  <b class="spiffy4"></b>
  <b class="spiffy5"></b></b>
  <div class="spiffyfg">
	<div id="navcontainer">
	<ul id="navlist">
	<li id="active"><a href="/panel/events" id="current">Events</a></li>
	<li><a href="/panel/waves">Join Waves</a></li>
	<li><a href="/panel/admin">Admin Waves</a></li>
	<li><a href="/panel/queue">Task Queue</a></li>
	<li><a href="/panel/edit">Edit Account</a></li>
	<li id="logout"><a href="/logout">Logout</a></li>
	</ul>
	</div>
	<br>
	<div class="event">{{request}}</div>
  </div>
  <b class="spiffy">
  <b class="spiffy5"></b>
  <b class="spiffy4"></b>
  <b class="spiffy3"></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy1"><b></b></b></b>
</div>

