{% extends "base.html" %}
{% block content %}
{% if info %}
	<h2 class="info">{{info}}</h2><br>
{% else %}
	<h2 class="info">Click a wave to cancel the bot adding you</h2><br>
{% endif %}
{% if error %}
	<h2 class="error">{{error}}</h2><br>
{% endif %}
{% if wavelets %}
{% for wavelet in wavelets %}
<div class="wavelet">
    <a href="/panel/leave/{{wavelet.short_url}}">
    <span id="title">{{wavelet.title}}</span><br>
    <span id="admin">{{wavelet.admin.username}} ({{wavelet.admin.wave_address}})</span>
    </a>
</div>
{% endfor %}
{% else %}
No waves in queue go join some oh my god
{% endif %}
{% endblock %}

