<head>
	<link rel="stylesheet" href="/assets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<h1>Create An Account</h1>
<div class="main_div">
  <b class="spiffy">
  <b class="spiffy1"><b></b></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy3"></b>
  <b class="spiffy4"></b>
  <b class="spiffy5"></b></b>
  <div class="spiffyfg">
	{% if user_created %}
		woop woop congrats go login <a href="/">here</a>
	{% else %}
      <span class="error" style="font-size: 25px">{{ token }}</span><br>
          <h3>copy the above token into your <a href="http://forums.somethingawful.com/member.php?action=editprofile">profile</a> under location, interests or occupation.</h3>
      <br>
      {% if token_failed %}
        <span class="error">{{ error }}</span><br><br>
      {% endif %}
      <div class="form_div">
      <form action="/create" method="post" accept-charset="utf-8">
        <p><label for="username">forums username</label><input type="text" name="username" value="" id="username"></p>
        <p><label for="password">password (NOT YOUR SA PASSWORD)</label><input type="password" name="password" value="" id="password"></p>
        <p><label for="google_wave_address">google wave address</label><input type="text" name="google_wave_address" value="" id="google_wave_address"></p>
        <p class="submit"><input type="submit" value="Create &rarr;"><br>
      </form>
      </div>
		<a href="/">back</a>
      <br>
	{% endif %}
  </div>
  <b class="spiffy">
  <b class="spiffy5"></b>
  <b class="spiffy4"></b>
  <b class="spiffy3"></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy1"><b></b></b></b>
</div>